In [1]:
# run dependencies

import pandas as pd
from sqlalchemy import create_engine

In [155]:
teams_2022 = ['Qatar', 'Netherlands', 'Senegal', 'Ecuador', 
            'England', 'United States', 'Wales', 'Iran', 
            'Argentina', 'Poland', 'Mexico', 'Saudi Arabia', 
            'France', 'Denmark', 'Tunisia', 'Australia', 
            'Germany', 'Spain', 'Japan', 'Costa Rica', 
            'Belgium', 'Croatia', 'Canada', 'Morocco', 
            'Brazil', 'Switzerland', 'Serbia', 'Cameroon', 
            'Portugal', 'Uruguay', 'Ghana', 'Korea Republic']

In [156]:
historic_csv = "Data/matches.csv"

In [157]:
history = pd.read_csv(historic_csv)
history

,key_id,tournament_id,tournament_name,match_id,match_name,stage_name,group_name,group_stage,knockout_stage,replayed,...,away_team_score_margin,extra_time,penalty_shootout,score_penalties,home_team_score_penalties,away_team_score_penalties,result,home_team_win,away_team_win,draw
0,1,WC-1930,1930 FIFA World Cup,M-1930-01,France v Mexico,group stage,Group 1,1,0,0,...,-3,0,0,0-0,0,0,home team win,1,0,0
1,2,WC-1930,1930 FIFA World Cup,M-1930-02,United States v Belgium,group stage,Group 4,1,0,0,...,-3,0,0,0-0,0,0,home team win,1,0,0
2,3,WC-1930,1930 FIFA World Cup,M-1930-03,Yugoslavia v Brazil,group stage,Group 2,1,0,0,...,-1,0,0,0-0,0,0,home team win,1,0,0
3,4,WC-1930,1930 FIFA World Cup,M-1930-04,Romania v Peru,group stage,Group 3,1,0,0,...,-2,0,0,0-0,0,0,home team win,1,0,0
4,5,WC-1930,1930 FIFA World Cup,M-1930-05,Argentina v France,group stage,Group 1,1,0,0,...,-1,0,0,0-0,0,0,home team win,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
895,896,WC-2018,2018 FIFA World Cup,M-2018-60,Russia v Croatia,quarter-finals,not applicable,0,1,0,...,0,1,1,3â€“4,3,4,away team win,0,1,0
896,897,WC-2018,2018 FIFA World Cup,M-2018-61,France v Belgium,semi-finals,not applicable,0,1,0,...,-1,0,0,0-0,0,0,home team win,1,0,0
897,898,WC-2018,2018 FIFA World Cup,M-2018-62,Croatia v England,semi-finals,not applicable,0,1,0,...,-1,1,0,0-0,0,0,home team win,1,0,0
898,899,WC-2018,2018 FIFA World Cup,M-2018-63,Belgium v England,third-place match,not applicable,0,1,0,...,-2,0,0,0-0,0,0,home team win,1,0,0
899,900,WC-2018,2018 FIFA World Cup,M-2018-64,France v Croatia,final,not applicable,0,1,0,...,-2,0,0,0-0,0,0,home team win,1,0,0

In [158]:
# iterating the columns
for col in history.columns:
    print(col)

key_id
tournament_id
tournament_name
match_id
match_name
stage_name
group_name
group_stage
knockout_stage
replayed
replay
match_date
match_time
stadium_id
stadium_name
city_name
country_name
home_team_id
home_team_name
home_team_code
away_team_id
away_team_name
away_team_code
score
home_team_score
away_team_score
home_team_score_margin
away_team_score_margin
extra_time
penalty_shootout
score_penalties
home_team_score_penalties
away_team_score_penalties
result
home_team_win
away_team_win
draw

In [159]:
history['match_date'] = pd.to_datetime(history['match_date'], format='%Y-%m-%d')

In [160]:
history_df =  history.loc[(history["match_date"] >= '1970-01-01')]
history_df

,key_id,tournament_id,tournament_name,match_id,match_name,stage_name,group_name,group_stage,knockout_stage,replayed,...,away_team_score_margin,extra_time,penalty_shootout,score_penalties,home_team_score_penalties,away_team_score_penalties,result,home_team_win,away_team_win,draw
200,201,WC-1970,1970 FIFA World Cup,M-1970-01,Mexico v Soviet Union,group stage,Group 1,1,0,0,...,0,0,0,0-0,0,0,draw,0,0,1
201,202,WC-1970,1970 FIFA World Cup,M-1970-02,Uruguay v Israel,group stage,Group 2,1,0,0,...,-2,0,0,0-0,0,0,home team win,1,0,0
202,203,WC-1970,1970 FIFA World Cup,M-1970-03,England v Romania,group stage,Group 3,1,0,0,...,-1,0,0,0-0,0,0,home team win,1,0,0
203,204,WC-1970,1970 FIFA World Cup,M-1970-04,Peru v Bulgaria,group stage,Group 4,1,0,0,...,-1,0,0,0-0,0,0,home team win,1,0,0
204,205,WC-1970,1970 FIFA World Cup,M-1970-05,Belgium v El Salvador,group stage,Group 1,1,0,0,...,-3,0,0,0-0,0,0,home team win,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
895,896,WC-2018,2018 FIFA World Cup,M-2018-60,Russia v Croatia,quarter-finals,not applicable,0,1,0,...,0,1,1,3â€“4,3,4,away team win,0,1,0
896,897,WC-2018,2018 FIFA World Cup,M-2018-61,France v Belgium,semi-finals,not applicable,0,1,0,...,-1,0,0,0-0,0,0,home team win,1,0,0
897,898,WC-2018,2018 FIFA World Cup,M-2018-62,Croatia v England,semi-finals,not applicable,0,1,0,...,-1,1,0,0-0,0,0,home team win,1,0,0
898,899,WC-2018,2018 FIFA World Cup,M-2018-63,Belgium v England,third-place match,not applicable,0,1,0,...,-2,0,0,0-0,0,0,home team win,1,0,0
899,900,WC-2018,2018 FIFA World Cup,M-2018-64,France v Croatia,final,not applicable,0,1,0,...,-2,0,0,0-0,0,0,home team win,1,0,0

In [161]:
history_df['tournament_id'].str.contains('WC')

200    True
201    True
202    True
203    True
204    True
       ...
895    True
896    True
897    True
898    True
899    True
Name: tournament_id, Length: 700, dtype: bool

In [162]:
home_wins = history_df[["home_team_name", "home_team_win"]].groupby("home_team_name").count()
home_wins

                home_team_win
home_team_name
Algeria                     6
Angola                      1
Argentina                  48
Australia                   7
Austria                     8
...                       ...
United States              12
Uruguay                    17
West Germany               24
Yugoslavia                  6
Zaire                       2

[78 rows x 1 columns]

In [163]:
away_wins = history_df[["away_team_name", "away_team_win"]].groupby("away_team_name").count()

In [164]:
home_wins.index.names = ['Country']
home_wins

               home_team_win
Country
Algeria                    6
Angola                     1
Argentina                 48
Australia                  7
Austria                    8
...                      ...
United States             12
Uruguay                   17
West Germany              24
Yugoslavia                 6
Zaire                      2

[78 rows x 1 columns]

In [165]:
away_wins = away_wins.rename(columns = {'away_team_win':'Wins'})
away_wins

                Wins
away_team_name
Algeria            7
Angola             2
Argentina         17
Australia          9
Austria            9
...              ...
United States     14
Uruguay           19
West Germany      16
Yugoslavia        12
Zaire              1

[81 rows x 1 columns]

In [166]:
away_wins.index.names = ['Country']
away_wins

               Wins
Country
Algeria           7
Angola            2
Argentina        17
Australia         9
Austria           9
...             ...
United States    14
Uruguay          19
West Germany     16
Yugoslavia       12
Zaire             1

[81 rows x 1 columns]

In [167]:
# away_wins = away_wins.rename(columns = {'away_team_name': 'Country'})

In [168]:
country_wins = pd.merge(home_wins, away_wins, on='Country',how='inner')

In [169]:
country_wins

               home_team_win  Wins
Country
Algeria                    6     7
Angola                     1     2
Argentina                 48    17
Australia                  7     9
Austria                    8     9
...                      ...   ...
United States             12    14
Uruguay                   17    19
West Germany              24    16
Yugoslavia                 6    12
Zaire                      2     1

[78 rows x 2 columns]

In [170]:
country_wins = country_wins['home_team_win'] + country_wins['Wins']

In [171]:
country_wins

Country
Algeria          13
Angola            3
Argentina        65
Australia        16
Austria          17
                 ..
United States    26
Uruguay          36
West Germany     40
Yugoslavia       18
Zaire             3
Length: 78, dtype: int64

In [179]:
total_wins = pd.DataFrame(country_wins)
total_wins

                0
Country
Algeria        13
Angola          3
Argentina      65
Australia      16
Austria        17
...            ..
United States  26
Uruguay        36
West Germany   40
Yugoslavia     18
Zaire           3

[78 rows x 1 columns]

In [187]:
total_wins = total_wins.reset_index()
total_wins = total_wins.rename(columns = {0: 'total_wins'})

In [190]:
total_wins = total_wins[(total_wins['Country'].isin(teams_2022))]
total_wins = total_wins[['Country', 'total_wins']]
total_wins

          Country  total_wins
0       Argentina          65
1       Australia          16
2         Belgium          42
3          Brazil          77
4        Cameroon          23
5          Canada           3
6      Costa Rica          18
7         Croatia          23
8         Denmark          20
9         Ecuador          10
10        England          49
11         France          49
12        Germany          41
13          Ghana          12
14           Iran          15
15          Japan          21
16         Mexico          40
17        Morocco          16
18    Netherlands          48
19         Poland          33
20       Portugal          24
21   Saudi Arabia          16
22        Senegal           8
23         Serbia           6
24          Spain          48
25    Switzerland          19
26        Tunisia          15
27  United States          26
28        Uruguay          36

Create a feature that calculates number of times a team has gone to the quarterfinals, semifinals, third place, or finals

In [191]:
history_df.head()

,key_id,tournament_id,tournament_name,match_id,match_name,stage_name,group_name,group_stage,knockout_stage,replayed,...,away_team_score_margin,extra_time,penalty_shootout,score_penalties,home_team_score_penalties,away_team_score_penalties,result,home_team_win,away_team_win,draw
200,201,WC-1970,1970 FIFA World Cup,M-1970-01,Mexico v Soviet Union,group stage,Group 1,1,0,0,...,0,0,0,0-0,0,0,draw,0,0,1
201,202,WC-1970,1970 FIFA World Cup,M-1970-02,Uruguay v Israel,group stage,Group 2,1,0,0,...,-2,0,0,0-0,0,0,home team win,1,0,0
202,203,WC-1970,1970 FIFA World Cup,M-1970-03,England v Romania,group stage,Group 3,1,0,0,...,-1,0,0,0-0,0,0,home team win,1,0,0
203,204,WC-1970,1970 FIFA World Cup,M-1970-04,Peru v Bulgaria,group stage,Group 4,1,0,0,...,-1,0,0,0-0,0,0,home team win,1,0,0
204,205,WC-1970,1970 FIFA World Cup,M-1970-05,Belgium v El Salvador,group stage,Group 1,1,0,0,...,-3,0,0,0-0,0,0,home team win,1,0,0

In [192]:
#feature to count the number of times the country played in the quarterfinals, semi-finals, third-place match, or final

In [193]:
adv1 = history_df.groupby(["stage_name","home_team_name"]).count()
adv1 = adv1.reset_index()
adv1 = adv1.rename(columns = {'home_team_name':'country'})
adv1

,stage_name,country,key_id,tournament_id,tournament_name,match_id,match_name,group_name,group_stage,knockout_stage,...,away_team_score_margin,extra_time,penalty_shootout,score_penalties,home_team_score_penalties,away_team_score_penalties,result,home_team_win,away_team_win,draw
0,final,Argentina,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
1,final,Brazil,3,3,3,3,3,3,3,3,...,3,3,3,3,3,3,3,3,3,3
2,final,France,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
3,final,Germany,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
4,final,Italy,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
169,third-place match,Poland,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
170,third-place match,South Korea,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
171,third-place match,Sweden,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
172,third-place match,Uruguay,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
173,third-place match,West Germany,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1

In [194]:
adv1 = adv1[['stage_name','country','match_id']]
adv1

            stage_name       country  match_id
0                final     Argentina         2
1                final        Brazil         3
2                final        France         1
3                final       Germany         2
4                final         Italy         2
..                 ...           ...       ...
169  third-place match        Poland         1
170  third-place match   South Korea         1
171  third-place match        Sweden         1
172  third-place match       Uruguay         1
173  third-place match  West Germany         1

[174 rows x 3 columns]

In [195]:
adv2 = history_df.groupby(["stage_name","away_team_name"]).count()
adv2 = adv2.reset_index()
adv2 = adv2.rename(columns = {'away_team_name':'country'})
adv2

,stage_name,country,key_id,tournament_id,tournament_name,match_id,match_name,group_name,group_stage,knockout_stage,...,away_team_score_margin,extra_time,penalty_shootout,score_penalties,home_team_score_penalties,away_team_score_penalties,result,home_team_win,away_team_win,draw
0,final,Argentina,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
1,final,Brazil,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
2,final,Croatia,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
3,final,France,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
4,final,Italy,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
188,third-place match,Netherlands,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
189,third-place match,Poland,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
190,third-place match,Portugal,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
191,third-place match,Turkey,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
192,third-place match,Uruguay,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1

In [196]:
adv2 = adv2[['stage_name','country','match_id']]
adv2

            stage_name      country  match_id
0                final    Argentina         2
1                final       Brazil         1
2                final      Croatia         1
3                final       France         2
4                final        Italy         2
..                 ...          ...       ...
188  third-place match  Netherlands         1
189  third-place match       Poland         1
190  third-place match     Portugal         1
191  third-place match       Turkey         1
192  third-place match      Uruguay         1

[193 rows x 3 columns]

In [198]:
stage_count = pd.merge(adv1, adv2, on=['stage_name','country'],how='outer')
stage_count = stage_count.fillna(0)

In [199]:
stage_count['adv_counts'] = stage_count['match_id_x']+stage_count['match_id_y']
stage_count

            stage_name    country  match_id_x  match_id_y  adv_counts
0                final  Argentina         2.0         2.0         4.0
1                final     Brazil         3.0         1.0         4.0
2                final     France         1.0         2.0         3.0
3                final    Germany         2.0         0.0         2.0
4                final      Italy         2.0         2.0         4.0
..                 ...        ...         ...         ...         ...
216  third-place match    Croatia         0.0         1.0         1.0
217  third-place match    England         0.0         2.0         2.0
218  third-place match     France         0.0         2.0         2.0
219  third-place match   Portugal         0.0         1.0         1.0
220  third-place match     Turkey         0.0         1.0         1.0

[221 rows x 5 columns]

In [200]:
adv_df = stage_count[['stage_name','country','adv_counts']]
adv_df

            stage_name    country  adv_counts
0                final  Argentina         4.0
1                final     Brazil         4.0
2                final     France         3.0
3                final    Germany         2.0
4                final      Italy         4.0
..                 ...        ...         ...
216  third-place match    Croatia         1.0
217  third-place match    England         2.0
218  third-place match     France         2.0
219  third-place match   Portugal         1.0
220  third-place match     Turkey         1.0

[221 rows x 3 columns]

In [204]:
adv_df = adv_df[(adv_df['country'].isin(teams_2022))]

In [205]:
adv_df

            stage_name      country  adv_counts
0                final    Argentina         4.0
1                final       Brazil         4.0
2                final       France         3.0
3                final      Germany         2.0
5                final  Netherlands         3.0
..                 ...          ...         ...
213        semi-finals        Spain         1.0
216  third-place match      Croatia         1.0
217  third-place match      England         2.0
218  third-place match       France         2.0
219  third-place match     Portugal         1.0

[109 rows x 3 columns]

In [208]:
adv_df_pivot = adv_df.pivot(index='country', columns='stage_name', values='adv_counts')
adv_df_pivot  = adv_df_pivot .fillna(0)

In [209]:
adv_df_pivot

stage_name,final,group stage,quarter-finals,round of 16,second group stage,semi-finals,third-place match
country,,,,,,,
Argentina,4.0,36.0,6.0,8.0,8.0,3.0,0.0
Australia,0.0,15.0,0.0,1.0,0.0,0.0,0.0
Belgium,0.0,27.0,3.0,6.0,2.0,2.0,2.0
Brazil,4.0,39.0,9.0,9.0,8.0,5.0,3.0
Cameroon,0.0,21.0,1.0,1.0,0.0,0.0,0.0
Canada,0.0,3.0,0.0,0.0,0.0,0.0,0.0
Costa Rica,0.0,15.0,1.0,2.0,0.0,0.0,0.0
Croatia,1.0,15.0,2.0,2.0,0.0,2.0,1.0
Denmark,0.0,15.0,1.0,4.0,0.0,0.0,0.0
Ecuador,0.0,9.0,0.0,1.0,0.0,0.0,0.0
England,0.0,30.0,6.0,7.0,2.0,2.0,2.0
France,3.0,27.0,5.0,5.0,2.0,5.0,2.0
Germany,2.0,21.0,6.0,6.0,0.0,4.0,2.0
Ghana,0.0,9.0,1.0,2.0,0.0,0.0,0.0
Iran,0.0,15.0,0.0,0.0,0.0,0.0,0.0
Japan,0.0,18.0,0.0,3.0,0.0,0.0,0.0
Mexico,0.0,30.0,2.0,8.0,0.0,0.0,0.0
Morocco,0.0,15.0,0.0,1.0,0.0,0.0,0.0
Netherlands,3.0,24.0,4.0,6.0,6.0,3.0,2.0
Poland,0.0,21.0,0.0,1.0,8.0,1.0,2.0
Portugal,0.0,18.0,1.0,3.0,0.0,1.0,1.0
Saudi Arabia,0.0,15.0,0.0,1.0,0.0,0.0,0.0
Senegal,0.0,6.0,1.0,1.0,0.0,0.0,0.0
Serbia,0.0,6.0,0.0,0.0,0.0,0.0,0.0
Spain,1.0,33.0,4.0,7.0,2.0,1.0,0.0
Switzerland,0.0,15.0,0.0,4.0,0.0,0.0,0.0
Tunisia,0.0,15.0,0.0,0.0,0.0,0.0,0.0
United States,0.0,21.0,1.0,4.0,0.0,0.0,0.0
Uruguay,0.0,24.0,3.0,5.0,0.0,2.0,2.0