In [1]:
# run dependencies

import pandas as pd
from sqlalchemy import create_engine

In [2]:
teams_2022 = ['Qatar', 'Netherlands', 'Senegal', 'Ecuador', 
            'England', 'United States', 'Wales', 'Iran', 
            'Argentina', 'Poland', 'Mexico', 'Saudi Arabia', 
            'France', 'Denmark', 'Tunisia', 'Australia', 
            'Germany', 'Spain', 'Japan', 'Costa Rica', 
            'Belgium', 'Croatia', 'Canada', 'Morocco', 
            'Brazil', 'Switzerland', 'Serbia', 'Cameroon', 
            'Portugal', 'Uruguay', 'Ghana', 'Korea Republic']

In [3]:
pd.set_option('display.max_columns', None)

In [4]:
historic_csv = "Data/matches.csv"

In [5]:
history = pd.read_csv(historic_csv)
history

,key_id,tournament_id,tournament_name,match_id,match_name,stage_name,group_name,group_stage,knockout_stage,replayed,replay,match_date,match_time,stadium_id,stadium_name,city_name,country_name,home_team_id,home_team_name,home_team_code,away_team_id,away_team_name,away_team_code,score,home_team_score,away_team_score,home_team_score_margin,away_team_score_margin,extra_time,penalty_shootout,score_penalties,home_team_score_penalties,away_team_score_penalties,result,home_team_win,away_team_win,draw
0,1,WC-1930,1930 FIFA World Cup,M-1930-01,France v Mexico,group stage,Group 1,1,0,0,0,1930-07-13,15:00,S-185,Estadio Pocitos,Montevideo,Uruguay,T-28,France,FRA,T-44,Mexico,MEX,4–1,4,1,3,-3,0,0,0-0,0,0,home team win,1,0,0
1,2,WC-1930,1930 FIFA World Cup,M-1930-02,United States v Belgium,group stage,Group 4,1,0,0,0,1930-07-13,15:00,S-184,Estadio Gran Parque Central,Montevideo,Uruguay,T-79,United States,USA,T-06,Belgium,BEL,3–0,3,0,3,-3,0,0,0-0,0,0,home team win,1,0,0
2,3,WC-1930,1930 FIFA World Cup,M-1930-03,Yugoslavia v Brazil,group stage,Group 2,1,0,0,0,1930-07-14,12:45,S-184,Estadio Gran Parque Central,Montevideo,Uruguay,T-83,Yugoslavia,YUG,T-09,Brazil,BRA,2–1,2,1,1,-1,0,0,0-0,0,0,home team win,1,0,0
3,4,WC-1930,1930 FIFA World Cup,M-1930-04,Romania v Peru,group stage,Group 3,1,0,0,0,1930-07-14,14:50,S-185,Estadio Pocitos,Montevideo,Uruguay,T-58,Romania,ROU,T-54,Peru,PER,3–1,3,1,2,-2,0,0,0-0,0,0,home team win,1,0,0
4,5,WC-1930,1930 FIFA World Cup,M-1930-05,Argentina v France,group stage,Group 1,1,0,0,0,1930-07-15,16:00,S-184,Estadio Gran Parque Central,Montevideo,Uruguay,T-03,Argentina,ARG,T-28,France,FRA,1–0,1,0,1,-1,0,0,0-0,0,0,home team win,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
895,896,WC-2018,2018 FIFA World Cup,M-2018-60,Russia v Croatia,quarter-finals,not applicable,0,1,0,0,2018-07-07,21:00,S-116,Fisht Olympic Stadium,Sochi,Russia,T-59,Russia,RUS,T-17,Croatia,HRV,2–2,2,2,0,0,1,1,3–4,3,4,away team win,0,1,0
896,897,WC-2018,2018 FIFA World Cup,M-2018-61,France v Belgium,semi-finals,not applicable,0,1,0,0,2018-07-10,21:00,S-113,Krestovsky Stadium,Saint Petersburg,Russia,T-28,France,FRA,T-06,Belgium,BEL,1–0,1,0,1,-1,0,0,0-0,0,0,home team win,1,0,0
897,898,WC-2018,2018 FIFA World Cup,M-2018-62,Croatia v England,semi-finals,not applicable,0,1,0,0,2018-07-11,21:00,S-109,Luzhniki Stadium,Moscow,Russia,T-17,Croatia,HRV,T-27,England,ENG,2–1,2,1,1,-1,1,0,0-0,0,0,home team win,1,0,0
898,899,WC-2018,2018 FIFA World Cup,M-2018-63,Belgium v England,third-place match,not applicable,0,1,0,0,2018-07-14,17:00,S-113,Krestovsky Stadium,Saint Petersburg,Russia,T-06,Belgium,BEL,T-27,England,ENG,2–0,2,0,2,-2,0,0,0-0,0,0,home team win,1,0,0
899,900,WC-2018,2018 FIFA World Cup,M-2018-64,France v Croatia,final,not applicable,0,1,0,0,2018-07-15,18:00,S-109,Luzhniki Stadium,Moscow,Russia,T-28,France,FRA,T-17,Croatia,HRV,4–2,4,2,2,-2,0,0,0-0,0,0,home team win,1,0,0

In [6]:
# iterating the columns
for col in history.columns:
    print(col)

key_id
tournament_id
tournament_name
match_id
match_name
stage_name
group_name
group_stage
knockout_stage
replayed
replay
match_date
match_time
stadium_id
stadium_name
city_name
country_name
home_team_id
home_team_name
home_team_code
away_team_id
away_team_name
away_team_code
score
home_team_score
away_team_score
home_team_score_margin
away_team_score_margin
extra_time
penalty_shootout
score_penalties
home_team_score_penalties
away_team_score_penalties
result
home_team_win
away_team_win
draw

In [7]:
history['match_date'] = pd.to_datetime(history['match_date'], format='%Y-%m-%d')

In [8]:
history_df =  history.loc[(history["match_date"] >= '1970-01-01')]
history_df

,key_id,tournament_id,tournament_name,match_id,match_name,stage_name,group_name,group_stage,knockout_stage,replayed,replay,match_date,match_time,stadium_id,stadium_name,city_name,country_name,home_team_id,home_team_name,home_team_code,away_team_id,away_team_name,away_team_code,score,home_team_score,away_team_score,home_team_score_margin,away_team_score_margin,extra_time,penalty_shootout,score_penalties,home_team_score_penalties,away_team_score_penalties,result,home_team_win,away_team_win,draw
200,201,WC-1970,1970 FIFA World Cup,M-1970-01,Mexico v Soviet Union,group stage,Group 1,1,0,0,0,1970-05-31,12:00,S-099,Estadio Azteca,Mexico City,Mexico,T-44,Mexico,MEX,T-69,Soviet Union,SUN,0–0,0,0,0,0,0,0,0-0,0,0,draw,0,0,1
201,202,WC-1970,1970 FIFA World Cup,M-1970-02,Uruguay v Israel,group stage,Group 2,1,0,0,0,1970-06-02,16:00,S-104,Estadio Cuauhtémoc,Puebla,Mexico,T-80,Uruguay,URY,T-38,Israel,ISR,2–0,2,0,2,-2,0,0,0-0,0,0,home team win,1,0,0
202,203,WC-1970,1970 FIFA World Cup,M-1970-03,England v Romania,group stage,Group 3,1,0,0,0,1970-06-02,16:00,S-095,Estadio Jalisco,Guadalajara,Mexico,T-27,England,ENG,T-58,Romania,ROU,1–0,1,0,1,-1,0,0,0-0,0,0,home team win,1,0,0
203,204,WC-1970,1970 FIFA World Cup,M-1970-04,Peru v Bulgaria,group stage,Group 4,1,0,0,0,1970-06-02,16:00,S-098,Estadio Nou Camp,León,Mexico,T-54,Peru,PER,T-10,Bulgaria,BGR,3–2,3,2,1,-1,0,0,0-0,0,0,home team win,1,0,0
204,205,WC-1970,1970 FIFA World Cup,M-1970-05,Belgium v El Salvador,group stage,Group 1,1,0,0,0,1970-06-03,16:00,S-099,Estadio Azteca,Mexico City,Mexico,T-06,Belgium,BEL,T-26,El Salvador,SLV,3–0,3,0,3,-3,0,0,0-0,0,0,home team win,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
895,896,WC-2018,2018 FIFA World Cup,M-2018-60,Russia v Croatia,quarter-finals,not applicable,0,1,0,0,2018-07-07,21:00,S-116,Fisht Olympic Stadium,Sochi,Russia,T-59,Russia,RUS,T-17,Croatia,HRV,2–2,2,2,0,0,1,1,3–4,3,4,away team win,0,1,0
896,897,WC-2018,2018 FIFA World Cup,M-2018-61,France v Belgium,semi-finals,not applicable,0,1,0,0,2018-07-10,21:00,S-113,Krestovsky Stadium,Saint Petersburg,Russia,T-28,France,FRA,T-06,Belgium,BEL,1–0,1,0,1,-1,0,0,0-0,0,0,home team win,1,0,0
897,898,WC-2018,2018 FIFA World Cup,M-2018-62,Croatia v England,semi-finals,not applicable,0,1,0,0,2018-07-11,21:00,S-109,Luzhniki Stadium,Moscow,Russia,T-17,Croatia,HRV,T-27,England,ENG,2–1,2,1,1,-1,1,0,0-0,0,0,home team win,1,0,0
898,899,WC-2018,2018 FIFA World Cup,M-2018-63,Belgium v England,third-place match,not applicable,0,1,0,0,2018-07-14,17:00,S-113,Krestovsky Stadium,Saint Petersburg,Russia,T-06,Belgium,BEL,T-27,England,ENG,2–0,2,0,2,-2,0,0,0-0,0,0,home team win,1,0,0
899,900,WC-2018,2018 FIFA World Cup,M-2018-64,France v Croatia,final,not applicable,0,1,0,0,2018-07-15,18:00,S-109,Luzhniki Stadium,Moscow,Russia,T-28,France,FRA,T-17,Croatia,HRV,4–2,4,2,2,-2,0,0,0-0,0,0,home team win,1,0,0

In [9]:
history_df['tournament_id'].str.contains('WC')

200    True
201    True
202    True
203    True
204    True
       ...
895    True
896    True
897    True
898    True
899    True
Name: tournament_id, Length: 700, dtype: bool

In [26]:
home_wins = history_df[["home_team_name", "home_team_win"]].groupby("home_team_name").count()

# Making dataframes based on WIN margins

In [23]:
home_scores = history_df[['home_team_name', 'home_team_score_margin', 'home_team_win']]
home_scores = home_scores[home_scores.home_team_win != 0]
home_scores

    home_team_name  home_team_score_margin  home_team_win
201        Uruguay                       2              1
202        England                       1              1
203           Peru                       1              1
204        Belgium                       3              1
205          Italy                       1              1
..             ...                     ...            ...
890         Sweden                       1              1
896         France                       1              1
897        Croatia                       1              1
898        Belgium                       2              1
899         France                       2              1

[343 rows x 3 columns]

In [65]:
# HOME TEAM MARGIN WINS
home_avg_win_by = home_scores[["home_team_name", "home_team_score_margin"]].groupby("home_team_name").mean()

In [35]:
home_avg_win_by = home_avg_win_by.reset_index()
home_avg_win_by = home_avg_win_by.rename(columns = {'home_team_name': 'Country','home_team_score_margin': 'win_margin'})
home_avg_win_by

    level_0  index                 Country  win_margin
0         0      0                 Algeria    1.000000
1         1      1               Argentina    1.823529
2         2      2               Australia    1.500000
3         3      3                 Austria    1.000000
4         4      4                 Belgium    1.642857
5         5      5  Bosnia and Herzegovina    2.000000
6         6      6                  Brazil    1.790698
7         7      7                Bulgaria    2.500000
8         8      8                Cameroon    1.000000
9         9      9                   Chile    1.500000
10       10     10                Colombia    1.750000
11       11     11              Costa Rica    0.500000
12       12     12                 Croatia    1.000000
13       13     13          Czechoslovakia    3.000000
14       14     14                 Denmark    3.000000
15       15     15            East Germany    1.500000
16       16     16                 Ecuador    2.000000
17       17     17                 England    1.857143
18       18     18                  France    1.933333
19       19     19                 Germany    1.904762
20       20     20                   Ghana    1.000000
21       21     21                  Greece    1.000000
22       22     22                 Hungary    5.500000
23       23     23                   Italy    1.480000
24       24     24             Ivory Coast    1.000000
25       25     25                   Japan    1.000000
26       26     26                  Mexico    1.714286
27       27     27             Netherlands    1.750000
28       28     28                 Nigeria    1.750000
29       29     29                  Norway    1.000000
30       30     30                Paraguay    1.000000
31       31     31                    Peru    2.250000
32       32     32                  Poland    1.700000
33       33     33                Portugal    2.250000
34       34     34     Republic of Ireland    0.000000
35       35     35                 Romania    1.000000
36       36     36                  Russia    3.500000
37       37     37            Saudi Arabia    1.000000
38       38     38                Scotland    2.000000
39       39     39                Slovakia    1.000000
40       40     40            South Africa    1.000000
41       41     41             South Korea    1.600000
42       42     42            Soviet Union    3.200000
43       43     43                   Spain    2.090909
44       44     44                  Sweden    1.666667
45       45     45             Switzerland    1.500000
46       46     46                 Tunisia    2.000000
47       47     47                  Turkey    3.000000
48       48     48                 Ukraine    1.000000
49       49     49           United States    1.000000
50       50     50                 Uruguay    1.285714
51       51     51            West Germany    1.684211
52       52     52              Yugoslavia    3.500000

In [29]:
away_scores = history_df[['away_team_name', 'away_team_score_margin', 'away_team_win']]
away_scores = away_scores[away_scores.away_team_win != 0]
away_scores

    away_team_name  away_team_score_margin  away_team_win
226        Uruguay                       1              1
235       Scotland                       2              1
237    Netherlands                       2              1
240   West Germany                       3              1
247         Poland                       7              1
..             ...                     ...            ...
891        England                       0              1
892         France                       2              1
893        Belgium                       1              1
894        England                       2              1
895        Croatia                       0              1

[217 rows x 3 columns]

In [30]:
# AWAY TEAM MARGIN WINS
away_avg_win_by = away_scores[["away_team_name", "away_team_score_margin"]].groupby("away_team_name").mean()
away_avg_win_by

                     away_team_score_margin
away_team_name
Algeria                            1.500000
Argentina                          1.000000
Austria                            1.500000
Belgium                            0.857143
Brazil                             2.000000
Bulgaria                           1.000000
Cameroon                           1.000000
Chile                              1.500000
Colombia                           2.200000
Costa Rica                         1.500000
Croatia                            1.700000
Czech Republic                     3.000000
Czechoslovakia                     2.500000
Denmark                            1.333333
Ecuador                            1.500000
England                            1.375000
France                             1.642857
Germany                            2.375000
Ghana                              1.333333
Iran                               1.000000
Italy                              1.333333
Ivory Coast                        3.000000
Jamaica                            1.000000
Japan                              1.666667
Mexico                             1.375000
Morocco                            2.500000
Netherlands                        2.000000
Nigeria                            1.500000
Northern Ireland                   1.000000
Norway                             1.000000
Paraguay                           2.000000
Peru                               2.000000
Poland                             2.000000
Portugal                           0.500000
Republic of Ireland                2.000000
Romania                            1.666667
Russia                             0.000000
Saudi Arabia                       1.000000
Scotland                           1.500000
Senegal                            1.000000
Serbia                             1.000000
Slovenia                           1.000000
South Africa                       1.000000
South Korea                        0.500000
Soviet Union                       2.500000
Spain                              1.642857
Sweden                             1.666667
Switzerland                        2.000000
Tunisia                            1.000000
Turkey                             1.000000
Ukraine                            2.000000
United States                      1.500000
Uruguay                            1.333333
West Germany                       1.571429
Yugoslavia                         1.000000

In [64]:
away_avg_win_by = away_avg_win_by.reset_index()
away_avg_win_by = away_avg_win_by.rename(columns = {'away_team_name': 'Country','away_team_score_margin': 'win_margin_away'})

In [43]:
total_win_by = pd.merge(home_avg_win_by, away_avg_win_by, on = 'Country')
total_win_by['win_margins'] = total_win_by['win_margin']+total_win_by['win_margin_away']
total_win_by = total_win_by[['Country', 'win_margins']]
total_win_by

                Country  win_margins
0               Algeria     2.500000
1             Argentina     2.823529
2               Austria     2.500000
3               Belgium     2.500000
4                Brazil     3.790698
5              Bulgaria     3.500000
6              Cameroon     2.000000
7                 Chile     3.000000
8              Colombia     3.950000
9            Costa Rica     2.000000
10              Croatia     2.700000
11       Czechoslovakia     5.500000
12              Denmark     4.333333
13              Ecuador     3.500000
14              England     3.232143
15               France     3.576190
16              Germany     4.279762
17                Ghana     2.333333
18                Italy     2.813333
19          Ivory Coast     4.000000
20                Japan     2.666667
21               Mexico     3.089286
22          Netherlands     3.750000
23              Nigeria     3.250000
24               Norway     2.000000
25             Paraguay     3.000000
26                 Peru     4.250000
27               Poland     3.700000
28             Portugal     2.750000
29  Republic of Ireland     2.000000
30              Romania     2.666667
31               Russia     3.500000
32         Saudi Arabia     2.000000
33             Scotland     3.500000
34         South Africa     2.000000
35          South Korea     2.100000
36         Soviet Union     5.700000
37                Spain     3.733766
38               Sweden     3.333333
39          Switzerland     3.500000
40              Tunisia     3.000000
41               Turkey     4.000000
42              Ukraine     3.000000
43        United States     2.500000
44              Uruguay     2.619048
45         West Germany     3.255639
46           Yugoslavia     4.500000

# Making dataframes based on LOSE margins

In [63]:
home_losses = history_df[['home_team_name', 'home_team_score_margin', 'home_team_win']]
home_losses = home_losses[home_losses.home_team_win != 1]

In [62]:
# HOME TEAM MARGIN LOSSES
home_avg_lose_by = home_losses[["home_team_name", "home_team_score_margin"]].groupby("home_team_name").mean()

In [49]:
home_avg_lose_by = home_avg_lose_by.reset_index()
home_avg_lose_by = home_avg_lose_by.rename(columns = {'home_team_name': 'Country','home_team_score_margin': 'lose_margin_home'})

In [51]:
away_losses = history_df[['away_team_name', 'away_team_score_margin', 'away_team_win']]
away_losses = away_losses[away_losses.away_team_win != 1]

In [53]:
# AWAY TEAM MARGIN LOSSES
away_avg_lose_by = away_losses[["away_team_name", "away_team_score_margin"]].groupby("away_team_name").mean()

In [55]:
away_avg_lose_by = away_avg_lose_by.reset_index()
away_avg_lose_by = away_avg_lose_by.rename(columns = {'away_team_name': 'Country','away_team_score_margin': 'loss_margin_away'})

In [57]:
total_lose_by = pd.merge(home_avg_lose_by, away_avg_lose_by, on = 'Country')
total_lose_by['lose_margins'] = total_lose_by['lose_margin_home']+total_lose_by['loss_margin_away']
total_lose_by = total_lose_by[['Country', 'lose_margins']]
total_lose_by

          Country  lose_margins
0         Algeria     -2.000000
1          Angola     -1.000000
2       Argentina     -2.059524
3       Australia     -3.133333
4         Austria     -2.214286
..            ...           ...
68  United States     -2.166667
69        Uruguay     -2.361538
70   West Germany     -1.088889
71     Yugoslavia     -1.777778
72          Zaire    -11.500000

[73 rows x 2 columns]

# merging margin wins and losses !!!!!

In [61]:
total_score_margins = pd.merge(total_win_by, total_lose_by, on = 'Country', how = 'inner')
total_score_margins = total_score_margins[(total_score_margins['Country'].isin(teams_2022))]
total_score_margins

          Country  win_margins  lose_margins
1       Argentina     2.823529     -2.059524
3         Belgium     2.500000     -1.903846
4          Brazil     3.790698     -1.800000
6        Cameroon     2.000000     -3.077778
9      Costa Rica     2.000000     -2.571429
10        Croatia     2.700000     -2.142857
12        Denmark     4.333333     -2.300000
13        Ecuador     3.500000     -2.750000
14        England     3.232143     -1.064706
15         France     3.576190     -1.400000
16        Germany     4.279762     -2.500000
17          Ghana     2.333333     -1.866667
20          Japan     2.666667     -2.000000
21         Mexico     3.089286     -2.044118
22    Netherlands     3.750000     -1.083333
26         Poland     3.700000     -3.136364
27       Portugal     2.750000     -1.911111
31   Saudi Arabia     2.000000     -4.700000
36          Spain     3.733766     -1.241071
38    Switzerland     3.500000     -1.857143
39        Tunisia     3.000000     -2.083333
40  United States     2.500000     -2.166667
41        Uruguay     2.619048     -2.361538

# finding total number of wins!

In [11]:
away_wins = history_df[["away_team_name", "away_team_win"]].groupby("away_team_name").count()

In [164]:
home_wins.index.names = ['Country']
home_wins

               home_team_win
Country
Algeria                    6
Angola                     1
Argentina                 48
Australia                  7
Austria                    8
...                      ...
United States             12
Uruguay                   17
West Germany              24
Yugoslavia                 6
Zaire                      2

[78 rows x 1 columns]

In [165]:
away_wins = away_wins.rename(columns = {'away_team_win':'Wins'})
away_wins

                Wins
away_team_name
Algeria            7
Angola             2
Argentina         17
Australia          9
Austria            9
...              ...
United States     14
Uruguay           19
West Germany      16
Yugoslavia        12
Zaire              1

[81 rows x 1 columns]

In [166]:
away_wins.index.names = ['Country']
away_wins

               Wins
Country
Algeria           7
Angola            2
Argentina        17
Australia         9
Austria           9
...             ...
United States    14
Uruguay          19
West Germany     16
Yugoslavia       12
Zaire             1

[81 rows x 1 columns]

In [167]:
# away_wins = away_wins.rename(columns = {'away_team_name': 'Country'})

In [168]:
country_wins = pd.merge(home_wins, away_wins, on='Country',how='inner')

In [169]:
country_wins

               home_team_win  Wins
Country
Algeria                    6     7
Angola                     1     2
Argentina                 48    17
Australia                  7     9
Austria                    8     9
...                      ...   ...
United States             12    14
Uruguay                   17    19
West Germany              24    16
Yugoslavia                 6    12
Zaire                      2     1

[78 rows x 2 columns]

In [170]:
country_wins = country_wins['home_team_win'] + country_wins['Wins']

In [171]:
country_wins

Country
Algeria          13
Angola            3
Argentina        65
Australia        16
Austria          17
                 ..
United States    26
Uruguay          36
West Germany     40
Yugoslavia       18
Zaire             3
Length: 78, dtype: int64

In [66]:
total_wins = pd.DataFrame(country_wins)

NameError: name 'country_wins' is not defined

In [187]:
total_wins = total_wins.reset_index()
total_wins = total_wins.rename(columns = {0: 'total_wins'})

In [190]:
total_wins = total_wins[(total_wins['Country'].isin(teams_2022))]
total_wins = total_wins[['Country', 'total_wins']]
total_wins

          Country  total_wins
0       Argentina          65
1       Australia          16
2         Belgium          42
3          Brazil          77
4        Cameroon          23
5          Canada           3
6      Costa Rica          18
7         Croatia          23
8         Denmark          20
9         Ecuador          10
10        England          49
11         France          49
12        Germany          41
13          Ghana          12
14           Iran          15
15          Japan          21
16         Mexico          40
17        Morocco          16
18    Netherlands          48
19         Poland          33
20       Portugal          24
21   Saudi Arabia          16
22        Senegal           8
23         Serbia           6
24          Spain          48
25    Switzerland          19
26        Tunisia          15
27  United States          26
28        Uruguay          36

Create a feature that calculates number of times a team has gone to the quarterfinals, semifinals, third place, or finals

In [191]:
history_df.head()

,key_id,tournament_id,tournament_name,match_id,match_name,stage_name,group_name,group_stage,knockout_stage,replayed,...,away_team_score_margin,extra_time,penalty_shootout,score_penalties,home_team_score_penalties,away_team_score_penalties,result,home_team_win,away_team_win,draw
200,201,WC-1970,1970 FIFA World Cup,M-1970-01,Mexico v Soviet Union,group stage,Group 1,1,0,0,...,0,0,0,0-0,0,0,draw,0,0,1
201,202,WC-1970,1970 FIFA World Cup,M-1970-02,Uruguay v Israel,group stage,Group 2,1,0,0,...,-2,0,0,0-0,0,0,home team win,1,0,0
202,203,WC-1970,1970 FIFA World Cup,M-1970-03,England v Romania,group stage,Group 3,1,0,0,...,-1,0,0,0-0,0,0,home team win,1,0,0
203,204,WC-1970,1970 FIFA World Cup,M-1970-04,Peru v Bulgaria,group stage,Group 4,1,0,0,...,-1,0,0,0-0,0,0,home team win,1,0,0
204,205,WC-1970,1970 FIFA World Cup,M-1970-05,Belgium v El Salvador,group stage,Group 1,1,0,0,...,-3,0,0,0-0,0,0,home team win,1,0,0

In [192]:
#feature to count the number of times the country played in the quarterfinals, semi-finals, third-place match, or final

In [193]:
adv1 = history_df.groupby(["stage_name","home_team_name"]).count()
adv1 = adv1.reset_index()
adv1 = adv1.rename(columns = {'home_team_name':'country'})
adv1

,stage_name,country,key_id,tournament_id,tournament_name,match_id,match_name,group_name,group_stage,knockout_stage,...,away_team_score_margin,extra_time,penalty_shootout,score_penalties,home_team_score_penalties,away_team_score_penalties,result,home_team_win,away_team_win,draw
0,final,Argentina,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
1,final,Brazil,3,3,3,3,3,3,3,3,...,3,3,3,3,3,3,3,3,3,3
2,final,France,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
3,final,Germany,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
4,final,Italy,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
169,third-place match,Poland,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
170,third-place match,South Korea,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
171,third-place match,Sweden,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
172,third-place match,Uruguay,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
173,third-place match,West Germany,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1

In [194]:
adv1 = adv1[['stage_name','country','match_id']]
adv1

            stage_name       country  match_id
0                final     Argentina         2
1                final        Brazil         3
2                final        France         1
3                final       Germany         2
4                final         Italy         2
..                 ...           ...       ...
169  third-place match        Poland         1
170  third-place match   South Korea         1
171  third-place match        Sweden         1
172  third-place match       Uruguay         1
173  third-place match  West Germany         1

[174 rows x 3 columns]

In [195]:
adv2 = history_df.groupby(["stage_name","away_team_name"]).count()
adv2 = adv2.reset_index()
adv2 = adv2.rename(columns = {'away_team_name':'country'})
adv2

,stage_name,country,key_id,tournament_id,tournament_name,match_id,match_name,group_name,group_stage,knockout_stage,...,away_team_score_margin,extra_time,penalty_shootout,score_penalties,home_team_score_penalties,away_team_score_penalties,result,home_team_win,away_team_win,draw
0,final,Argentina,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
1,final,Brazil,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
2,final,Croatia,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
3,final,France,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
4,final,Italy,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
188,third-place match,Netherlands,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
189,third-place match,Poland,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
190,third-place match,Portugal,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
191,third-place match,Turkey,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
192,third-place match,Uruguay,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1

In [196]:
adv2 = adv2[['stage_name','country','match_id']]
adv2

            stage_name      country  match_id
0                final    Argentina         2
1                final       Brazil         1
2                final      Croatia         1
3                final       France         2
4                final        Italy         2
..                 ...          ...       ...
188  third-place match  Netherlands         1
189  third-place match       Poland         1
190  third-place match     Portugal         1
191  third-place match       Turkey         1
192  third-place match      Uruguay         1

[193 rows x 3 columns]

In [198]:
stage_count = pd.merge(adv1, adv2, on=['stage_name','country'],how='outer')
stage_count = stage_count.fillna(0)

In [199]:
stage_count['adv_counts'] = stage_count['match_id_x']+stage_count['match_id_y']
stage_count

            stage_name    country  match_id_x  match_id_y  adv_counts
0                final  Argentina         2.0         2.0         4.0
1                final     Brazil         3.0         1.0         4.0
2                final     France         1.0         2.0         3.0
3                final    Germany         2.0         0.0         2.0
4                final      Italy         2.0         2.0         4.0
..                 ...        ...         ...         ...         ...
216  third-place match    Croatia         0.0         1.0         1.0
217  third-place match    England         0.0         2.0         2.0
218  third-place match     France         0.0         2.0         2.0
219  third-place match   Portugal         0.0         1.0         1.0
220  third-place match     Turkey         0.0         1.0         1.0

[221 rows x 5 columns]

In [200]:
adv_df = stage_count[['stage_name','country','adv_counts']]
adv_df

            stage_name    country  adv_counts
0                final  Argentina         4.0
1                final     Brazil         4.0
2                final     France         3.0
3                final    Germany         2.0
4                final      Italy         4.0
..                 ...        ...         ...
216  third-place match    Croatia         1.0
217  third-place match    England         2.0
218  third-place match     France         2.0
219  third-place match   Portugal         1.0
220  third-place match     Turkey         1.0

[221 rows x 3 columns]

In [204]:
adv_df = adv_df[(adv_df['country'].isin(teams_2022))]

In [205]:
adv_df

            stage_name      country  adv_counts
0                final    Argentina         4.0
1                final       Brazil         4.0
2                final       France         3.0
3                final      Germany         2.0
5                final  Netherlands         3.0
..                 ...          ...         ...
213        semi-finals        Spain         1.0
216  third-place match      Croatia         1.0
217  third-place match      England         2.0
218  third-place match       France         2.0
219  third-place match     Portugal         1.0

[109 rows x 3 columns]

In [208]:
adv_df_pivot = adv_df.pivot(index='country', columns='stage_name', values='adv_counts')
adv_df_pivot  = adv_df_pivot .fillna(0)

In [209]:
adv_df_pivot

stage_name,final,group stage,quarter-finals,round of 16,second group stage,semi-finals,third-place match
country,,,,,,,
Argentina,4.0,36.0,6.0,8.0,8.0,3.0,0.0
Australia,0.0,15.0,0.0,1.0,0.0,0.0,0.0
Belgium,0.0,27.0,3.0,6.0,2.0,2.0,2.0
Brazil,4.0,39.0,9.0,9.0,8.0,5.0,3.0
Cameroon,0.0,21.0,1.0,1.0,0.0,0.0,0.0
Canada,0.0,3.0,0.0,0.0,0.0,0.0,0.0
Costa Rica,0.0,15.0,1.0,2.0,0.0,0.0,0.0
Croatia,1.0,15.0,2.0,2.0,0.0,2.0,1.0
Denmark,0.0,15.0,1.0,4.0,0.0,0.0,0.0
Ecuador,0.0,9.0,0.0,1.0,0.0,0.0,0.0
England,0.0,30.0,6.0,7.0,2.0,2.0,2.0
France,3.0,27.0,5.0,5.0,2.0,5.0,2.0
Germany,2.0,21.0,6.0,6.0,0.0,4.0,2.0
Ghana,0.0,9.0,1.0,2.0,0.0,0.0,0.0
Iran,0.0,15.0,0.0,0.0,0.0,0.0,0.0
Japan,0.0,18.0,0.0,3.0,0.0,0.0,0.0
Mexico,0.0,30.0,2.0,8.0,0.0,0.0,0.0
Morocco,0.0,15.0,0.0,1.0,0.0,0.0,0.0
Netherlands,3.0,24.0,4.0,6.0,6.0,3.0,2.0
Poland,0.0,21.0,0.0,1.0,8.0,1.0,2.0
Portugal,0.0,18.0,1.0,3.0,0.0,1.0,1.0
Saudi Arabia,0.0,15.0,0.0,1.0,0.0,0.0,0.0
Senegal,0.0,6.0,1.0,1.0,0.0,0.0,0.0
Serbia,0.0,6.0,0.0,0.0,0.0,0.0,0.0
Spain,1.0,33.0,4.0,7.0,2.0,1.0,0.0
Switzerland,0.0,15.0,0.0,4.0,0.0,0.0,0.0
Tunisia,0.0,15.0,0.0,0.0,0.0,0.0,0.0
United States,0.0,21.0,1.0,4.0,0.0,0.0,0.0
Uruguay,0.0,24.0,3.0,5.0,0.0,2.0,2.0