In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib.ticker as ticker
import matplotlib.ticker as plticker
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

In [2]:
rank = pd.read_csv("Features/fifa_rank.csv")
rank = rank.drop(['Unnamed: 0', 'Points'], axis=1)

player_avg = pd.read_csv("Features/player_averages_for_teams.csv")
player_avg = player_avg.drop(['Potential', 'Height', 'Weight', 'Age', 'WeakFoot', 'SkillMoves', 'Value', 'Wage', 'Nation_KitNumber', 'Club_KitNumber', 'BallControl', 'Dribbling', 'Marking', 'SlideTackle', 'StandTackle', 'Aggression', 'Reactions', 'AttPosition', 'Interceptions', 'Vision', 'Composure', 'Crossing', 'ShortPass', 'LongPass', 'Acceleration', 'Stamina', 'Strength', 'Balance', 'SprintSpeed', 'Agility', 'Jumping', 'Heading', 'ShotPower', 'Finishing', 'LongShots', 'Curve', 'FKAcc', 'Penalties', 'Volleys', 'GKPositioning', 'GKDiving', 'GKHandling', 'GKKicking', 'GKReflexes'], axis = 1)

player_avg = player_avg.rename(columns = {'Nationality': 'Country', 'Overall': 'Players avg score'})
# player_avg.head()
rank2 = pd.merge(rank, player_avg, on = 'Country', how='outer')

win_ratio = pd.read_csv("Features/ratio_played_vs_won.csv")
win_ratio = win_ratio.drop(['Unnamed: 0', 'total_wins', 'total_games'], axis = 1)

delta_pts = pd.read_csv("Features/total_score_margins.csv")
delta_pts = delta_pts.drop(['Unnamed: 0'], axis = 1)
game_stats = pd.merge(win_ratio, delta_pts, on='Country', how='outer')

games = pd.read_csv("Features/adv_df_pivot.csv")
games = games.drop(['third-place match'], axis=1)
games = games.rename(columns = {'country': 'Country'})

game_stats2 = pd.merge(game_stats, games, on='Country', how='outer')

player_top_features = pd.read_csv("Features/player_top_features_country.csv")

merging = pd.merge(game_stats2, player_top_features, on='Country', how='outer')

In [3]:
# MERGED PER COUNTRY FEATURES
all_stats = pd.merge(rank2, merging, on='Country', how='outer')
all_stats = all_stats.drop(['Unnamed: 0'], axis=1)
all_stats

,Rank,Country,Players avg score,ratio_won,win_margins,lose_margins,final,group stage,quarter-finals,round of 16,second group stage,semi-finals,avg_Composure,avg_Overall,avg_Potential,avg_Volleys,avg_Reactions
0,1.0,Brazil,70.967232,0.727273,3.790698,-1.800000,4.0,39.0,9.0,9.0,8.0,5.0,64.8362,70.9672,73.1028,49.5706,68.1390
1,2.0,Belgium,67.676667,0.500000,2.500000,-1.903846,0.0,27.0,3.0,6.0,2.0,2.0,60.6567,67.6767,73.9033,44.6500,62.5800
2,3.0,Argentina,67.806316,0.600000,2.823529,-2.059524,4.0,36.0,6.0,8.0,8.0,3.0,60.8926,67.8063,72.7284,45.2558,63.9053
3,4.0,France,67.238569,0.580000,3.576190,-1.400000,3.0,27.0,5.0,5.0,2.0,5.0,60.0427,67.2386,73.5875,43.5765,62.4125
4,5.0,England,63.272833,0.733333,3.232143,-1.064706,0.0,30.0,6.0,7.0,2.0,2.0,56.4206,63.2728,70.3153,40.3194,59.0320
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
159,NaN,United Arab Emirates,63.560000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
160,NaN,Uzbekistan,64.625000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
161,NaN,Venezuela,61.721393,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
162,NaN,Zambia,67.666667,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
163,NaN,Zimbabwe,67.214286,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
# -- OTHER FEATURES --
df_matches = pd.read_csv("Features/wc_matches.csv")
schedule = pd.read_csv('Data/schedule.csv')

# IDENTIFY 2022 WORLD CUP TEAMS
teams_2022 = ['Qatar', 'Netherlands', 'Senegal', 'Ecuador', 
            'England', 'United States', 'Wales', 'Iran', 
            'Argentina', 'Poland', 'Mexico', 'Saudi Arabia', 
            'France', 'Denmark', 'Tunisia', 'Australia', 
            'Germany', 'Spain', 'Japan', 'Costa Rica', 
            'Belgium', 'Croatia', 'Canada', 'Morocco', 
            'Brazil', 'Switzerland', 'Serbia', 'Cameroon', 
            'Portugal', 'Uruguay', 'Ghana', 'Korea Republic']

In [5]:
# limit the dataframe rows to the relevant teams playing in the 2022 world cup
all_stats = all_stats[(all_stats['Country'].isin(teams_2022))]
all_stats.head()

,Rank,Country,Players avg score,ratio_won,win_margins,lose_margins,final,group stage,quarter-finals,round of 16,second group stage,semi-finals,avg_Composure,avg_Overall,avg_Potential,avg_Volleys,avg_Reactions
0,1.0,Brazil,70.967232,0.727273,3.790698,-1.800000,4.0,39.0,9.0,9.0,8.0,5.0,64.8362,70.9672,73.1028,49.5706,68.1390
1,2.0,Belgium,67.676667,0.500000,2.500000,-1.903846,0.0,27.0,3.0,6.0,2.0,2.0,60.6567,67.6767,73.9033,44.6500,62.5800
2,3.0,Argentina,67.806316,0.600000,2.823529,-2.059524,4.0,36.0,6.0,8.0,8.0,3.0,60.8926,67.8063,72.7284,45.2558,63.9053
3,4.0,France,67.238569,0.580000,3.576190,-1.400000,3.0,27.0,5.0,5.0,2.0,5.0,60.0427,67.2386,73.5875,43.5765,62.4125
4,5.0,England,63.272833,0.733333,3.232143,-1.064706,0.0,30.0,6.0,7.0,2.0,2.0,56.4206,63.2728,70.3153,40.3194,59.0320

In [6]:
df_matches.head(15)
df_matches = df_matches.replace("South Korea", "Korea Republic")

In [7]:
df_matches_home = df_matches[df_matches['home_team'].isin(teams_2022)]
df_matches_away = df_matches[df_matches['away_team'].isin(teams_2022)]
df_matches2 = pd.concat((df_matches_home, df_matches_away))
df_matches2.drop_duplicates()
# df_matches2.count()

,Unnamed: 0,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral,winning_team,goal_difference,year
0,1314,1930-07-13,Belgium,United States,0,3,FIFA World Cup,Montevideo,Uruguay,True,United States,3,1930
1,1315,1930-07-13,France,Mexico,4,1,FIFA World Cup,Montevideo,Uruguay,True,France,3,1930
2,1316,1930-07-14,Brazil,Yugoslavia,1,2,FIFA World Cup,Montevideo,Uruguay,True,Yugoslavia,1,1930
3,1318,1930-07-15,Argentina,France,1,0,FIFA World Cup,Montevideo,Uruguay,True,Argentina,1,1930
6,1323,1930-07-18,Uruguay,Peru,1,0,FIFA World Cup,Montevideo,Uruguay,False,Uruguay,1,1930
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4286,43387,2022-03-29,Nigeria,Ghana,1,1,FIFA World Cup qualification,Abuja,Nigeria,False,draw,0,2022
4290,43392,2022-03-29,United Arab Emirates,Korea Republic,1,0,FIFA World Cup qualification,Dubai,United Arab Emirates,False,United Arab Emirates,1,2022
4294,43398,2022-03-29,Bolivia,Brazil,0,4,FIFA World Cup qualification,La Paz,Bolivia,False,Brazil,4,2022
4295,43400,2022-03-29,Chile,Uruguay,0,2,FIFA World Cup qualification,Santiago,Chile,False,Uruguay,2,2022
4300,43442,2022-03-30,Panama,Canada,1,0,FIFA World Cup qualification,Panama City,Panama,False,Panama,1,2022

In [8]:
# df_matches2 = df_matches2.drop(['Unnamed: 0'], axis=1)
df_matches2 = df_matches2.drop(["date", "home_score", "away_score", "tournament", "city", "country", "goal_difference", "neutral", "year"], axis = 1)
df_matches2.head()

   Unnamed: 0  home_team      away_team   winning_team
0        1314    Belgium  United States  United States
1        1315     France         Mexico         France
2        1316     Brazil     Yugoslavia     Yugoslavia
3        1318  Argentina         France      Argentina
6        1323    Uruguay           Peru        Uruguay

In [9]:
## Building the model
#the prediction label: The winning_team column will show "2" if the home team has won, "1" if it was a tie, and "0" if the away team has won.

df_matches2 = df_matches2.reset_index(drop=True)
df_matches2.loc[df_matches2.winning_team == df_matches2.home_team,'winning_team']=2
df_matches2.loc[df_matches2.winning_team == 'draw', 'winning_team']=1
df_matches2.loc[df_matches2.winning_team == df_matches2.away_team, 'winning_team']=0

df_matches2.head()

   Unnamed: 0  home_team      away_team winning_team
0        1314    Belgium  United States            0
1        1315     France         Mexico            2
2        1316     Brazil     Yugoslavia            0
3        1318  Argentina         France            2
4        1323    Uruguay           Peru            2

In [10]:
#convert home team and away team from categorical variables to continous inputs 
# Get dummy variables
final = pd.get_dummies(df_matches2, prefix=['home_team', 'away_team'], columns=['home_team', 'away_team'])

# Separate X and y sets
X = final.drop(['winning_team'], axis=1)
y = final["winning_team"]
y = y.astype('int')

# Separate train and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=42)

In [11]:
final.head()

,Unnamed: 0,winning_team,home_team_Afghanistan,home_team_Albania,home_team_Algeria,home_team_Andorra,home_team_Angola,home_team_Antigua and Barbuda,home_team_Argentina,home_team_Armenia,...,away_team_Uruguay,away_team_Uzbekistan,away_team_Vanuatu,away_team_Venezuela,away_team_Vietnam,away_team_Wales,away_team_Yemen,away_team_Yugoslavia,away_team_Zambia,away_team_Zimbabwe
0,1314,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1315,2,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1316,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,1318,2,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
4,1323,2,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [12]:
conda update scikit-learn

Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working...

Updating scikit-learn is constricted by

anaconda -> requires scikit-learn==0.24.2=py39hf11a4ad_1

If you are sure you want an update of your package either try `conda update --all` or install a specific version of the package you want using `conda install <pkg>=<version>`

done

## Package Plan ##

  environment location: C:\ProgramData\Anaconda3

  added / updated specs:
    - scikit-learn


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    conda-4.14.0               |   py39haa95532_0         937 KB
    conda-package-handling-1.8.1|   py39h8cc25b3_0         729 KB
    conda-repo-cli-1.0.5       |   py39haa95532_0         122 KB
    pathlib-1.0.1              |     pyhd3eb1b0_1          17 KB
    pyjwt-2.4.0                |   py39haa95532_0          38 KB
    ------------------------------------------------------------
                                           Total:         1.8 MB

The following NEW packages will be INSTALLED:

  pathlib            pkgs/main/noarch::pathlib-1.0.1-pyhd3eb1b0_1

The following packages will be UPDATED:

  conda                               4.10.3-py39haa95532_0 --> 4.14.0-py39haa95532_0
  conda-package-han~                   1.7.3-py39h8cc25b3_1 --> 1.8.1-py39h8cc25b3_0
  conda-repo-cli     pkgs/main/noarch::conda-repo-cli-1.0.~ --> pkgs/main/win-64::conda-repo-cli-1.0.5-py39haa95532_0
  pyjwt                                2.1.0-py39haa95532_0 --> 2.4.0-py39haa95532_0



Downloading and Extracting Packages

pathlib-1.0.1        | 17 KB     |            |   0%
pathlib-1.0.1        | 17 KB     | ########## | 100%
pathlib-1.0.1        | 17 KB     | ########## | 100%

conda-package-handli | 729 KB    |            |   0%
conda-package-handli | 729 KB    | ########3  |  83%
conda-package-handli | 729 KB    | ########## | 100%

conda-repo-cli-1.0.5 | 122 KB    |            |   0%
conda-repo-cli-1.0.5 | 122 KB    | ########## | 100%
conda-repo-cli-1.0.5 | 122 KB    | ########## | 100%

pyjwt-2.4.0          | 38 KB     |            |   0%
pyjwt-2.4.0          | 38 KB     | ########## | 100%

conda-4.14.0         | 937 KB    |            |   0%
conda-4.14.0         | 937 KB    | ########## | 100%
conda-4.14.0         | 937 KB    | ########## | 100%
Preparing transaction: ...working... done
Verifying transaction: ...working... failed

Note: you may need to restart the kernel to use updated packages.

EnvironmentNotWritableError: The current user does not have write permissions to the target environment.
  environment location: C:\ProgramData\Anaconda3

In [13]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

logreg = LogisticRegression()
logreg.fit(X_train, y_train)
score = logreg.score(X_train, y_train)
score2 = logreg.score(X_test, y_test)

print("Training set accuracy: ", '%.3f'%(score))
print("Test set accuracy: ", '%.3f'%(score2))

Training set accuracy:  0.494
Test set accuracy:  0.506